#place this file in /etc/systemd/system
[Unit]
Description=Service running a smog client for pm measuring/weather station project
User=pi

[Service]
ExecStart=/usr/bin/python3 home/pi/aq-sensor/send.py
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
Alias=aq-sensor.service
